@keyframes animation-footer-input-holder {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
h1,
h2,
h3,
p,
a {
  margin: 0;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

#bigbox {
  background-color: #fff;
  font-family: Roboto;
}

.top {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .top {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .top {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.top__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  flex-wrap: nowrap;
  flex-direction: row;
}
.top__logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .top__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}
.top__span {
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .top__span {
    color: #000;
  }
}
@media screen and (min-width: 768px) {
  .top__link-now {
    color: #2196f3;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.28px;
    position: relative;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
  }
}
.top__link-now::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  top: 43px;
  left: 0;
  position: absolute;
}
.top__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}
.top__link:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
}
.top__link:hover {
  color: #2196f3;
}
.top__link::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  opacity: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  display: block;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}
.top__email {
  width: 16px;
  height: 12px;
  display: inline;
  fill: #757575;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.top__phone {
  width: 10px;
  height: 16px;
  display: inline;
  fill: #757575;
  margin-right: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.top__link:hover::after {
  opacity: 1;
  transform: scale(1);
}
.top__link:focus::after {
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  border: none;
  outline: none;
}
.top__navigation {
  display: none;
}
@media screen and (min-width: 768px) {
  .top__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: 93px;
  }
}
.top__telephone {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.top__telephone:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.top__telephone:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.top__info {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}
.top__info:focus {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.top__info:hover {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.top__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .top__list {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .top__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}
.top__item {
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0px;
  flex-wrap: nowrap;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.top__item:hover .top__email {
  fill: #2196f3;
}
.top__item:hover .top__phone {
  fill: #2196f3;
}
.top__burger {
  width: 40px;
  height: 40px;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.menu-toggle {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.hero {
  background-repeat: no-repeat;
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.webp");
}
@media screen and (min-width: 768px) {
  .hero {
    background-color: #2f303a;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.webp");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.webp");
  }
}
.hero__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: wrap;
  flex-direction: column;
}
.hero__title {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 42px; /* 161.538% */
  letter-spacing: 1.56px;
  text-transform: uppercase;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    color: #fff;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
  }
}
.hero__button {
  background-color: #2196f3;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    background-color: #2196f3;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-top: 40px;
    width: 216px;
    height: 50px;
    border-radius: 4px;
    border: none;
  }
}

.quality {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .quality {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.quality__text {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 1.1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .quality__text {
    text-align: start;
  }
}
.quality__list > :first-child::before {
  content: "";
  display: block;
  background-image: url("../images/antenna.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
}
.quality__list > :nth-child(2):before {
  content: "";
  display: block;
  background-image: url("../images/clock.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
}
.quality__list > :nth-child(3):before {
  content: "";
  display: block;
  background-image: url("../images/diagram.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
}
.quality__list > :last-child::before {
  content: "";
  display: block;
  background-image: url("../images/astronaut.webp");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #f5f4fa;
  height: 120px;
}
.quality__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .quality__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .quality__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
  }
}
.quality__item {
  color: #757575;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .quality__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .quality__item {
    width: 270px;
  }
}
.quality__subtext {
  max-width: 450px;
}

.doing {
  display: none;
}
@media screen and (min-width: 1200px) {
  .doing {
    display: block;
    padding-top: 0px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
  }
}
.doing__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
.doing__item {
  position: relative;
  width: 370px;
}
.doing__button {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: none;
  text-transform: uppercase;
}
.doing__text {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  width: 190px;
  height: 16px;
}

.comand {
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .comand {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.comand__title {
  color: #212121;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .comand__title {
    font-size: 36px;
  }
}
.comand__img {
  width: 450px;
}
@media screen and (min-width: 768px) {
  .comand__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .comand__img {
    width: 270px;
  }
}
.comand__text {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.comand__subtext {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
.comand__list {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .comand__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    flex-direction: unset;
  }
}
@media screen and (min-width: 1200px) {
  .comand__list {
    height: 428px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
  }
}
.comand__item {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.comand__svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.comand__svg-item:hover .comand__svg {
  fill: #fff;
}
.comand__svg-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.comand__svg-link {
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  transition-duration: 250ms, 5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, fill;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
}
.comand__svg-link:focus {
  outline: none;
  background-color: #2196f3;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  fill: #fff;
}
.comand__svg-link:focus .comand__svg {
  fill: #fff;
}
.comand__svg-item {
  width: 44px;
  height: 44px;
  text-align: center;
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-radius;
}
.comand__svg-list {
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__svg {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill, transform;
}
.customers__item {
  width: 210px;
  height: 92px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, transform;
}
@media screen and (min-width: 768px) {
  .customers__item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    width: 170px;
  }
}
.customers__item:hover {
  border: 1px solid #2196f3;
  transform: rotate(360deg);
}
.customers__item:hover .customers__svg {
  fill: #2196f3;
  transform: rotate(360deg);
}
.customers__svg-link {
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__svg-link:focus {
  outline: none;
  border: 1px solid #2196f3;
  width: 170px;
  height: 92px;
}
.customers__svg-link:focus .customers__svg {
  fill: #2196f3;
}
.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .customers__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: nowrap;
  }
}
.customers__item {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
}
.customers__title {
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .customers__title {
    font-size: 36px;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__tel-mail {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .footer__tel-mail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    flex-wrap: wrap;
  }
}
.footer__title {
  margin-left: 39px;
  margin-right: 39px;
  color: #2196f3;
  font-family: Raleway;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 26px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: start;
  }
}
.footer__span {
  color: #fff;
}
.footer__address {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 8px;
}
.footer__mailto {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 8px;
}
.footer__telephone {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer__svg-item:hover .footer__svg {
  fill: #fff;
}
.footer__svg-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}
.footer__svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.footer__svg-item:hover {
  background-color: #2196f3;
  border-radius: 50%;
}
.footer__svg-item:focus {
  background-color: #2196f3;
  border-radius: 50%;
}
.footer__svg-link {
  width: 44px;
  height: 44px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, background-color;
}
.footer__svg-link:focus {
  outline: none;
  border: 1px solid #2196f3;
  background-color: #2196f3;
}
.footer__svg-item {
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border-radius, background-color;
}
.footer__container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 768px) {
  .footer__container {
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    flex-wrap: nowrap;
  }
}
.footer__item:nth-child(1) {
  margin-right: 0px;
}
@media screen and (min-width: 768px) {
  .footer__item:nth-child(1) {
    margin-right: 105px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:nth-child(1) {
    margin-right: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
}
.footer__subtext {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__subtext {
    text-align: start;
    margin-right: 90px;
  }
}
.footer__input-holder {
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  padding-left: 16px;
}
@media screen and (min-width: 768px) {
  .footer__input-holder {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__input-holder {
    width: 358px;
    height: 50px;
  }
}
.footer__input {
  background-color: #2f303a;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}
.footer__emailinput-holder {
  max-width: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation-name: animation-footer-input-holder;
  animation-timing-function: linear;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@media screen and (min-width: 1200px) {
  .footer__emailinput-holder {
    flex-direction: row;
  }
}
.footer__svg-link:focus .footer__svg {
  fill: #fff;
}
.footer_subs {
  text-align: start;
}
.footer__button-holder {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__button-holder {
    margin-top: 0px;
  }
}
.footer__button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
  fill: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-left: 12px;
  }
}
.footer__button-svg {
  width: 24px;
  height: 24px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  -webkit-backdrop-filter: 1px;
          backdrop-filter: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1s ease, visibility 1s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  max-width: 410px;
  border-radius: 4px;
  background: #fff;
  padding-bottom: 40px;
  padding-top: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    height: 581px;
  }
}
.modal__item {
  width: 100%;
}
.modal__title {
  margin-bottom: 2px;
  max-width: 310px;
  height: 60px;
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    min-width: 448px;
  }
}
.modal__text {
  margin-bottom: 4px;
  margin-top: 10px;
}
.modal__list {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2px;
  height: 342px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__label {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 355px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border, fill;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1200px) {
  .modal__label {
    min-width: 448px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0px;
    flex-wrap: nowrap;
  }
}
.modal__label:hover {
  border: 1px solid #2196f3;
}
.modal__label:hover .modal__svg {
  fill: #2196f3;
}
.modal__input {
  max-width: 394px;
  outline: none;
  border: none;
}
.modal__label-big {
  display: flex;
  max-width: 355px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px 82px 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: border;
}
@media screen and (min-width: 1200px) {
  .modal__label-big {
    min-width: 448px;
  }
}
.modal__label-big:hover {
  border: 1px solid #2196f3;
}
.modal__text {
  width: 40px;
  height: 14px;
}
.modal__svg {
  width: 18px;
  height: 18px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal__input-big {
  outline: none;
  border: none;
  color: rgba(117, 117, 117, 0.5);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  max-width: 400px;
}
.modal__button {
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border: none;
}
.modal__box {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  flex-wrap: nowrap;
}
@media screen and (min-width: 1200px) {
  .modal__box {
    min-width: 490px;
  }
}
.modal__close {
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  padding: 6px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  flex-wrap: nowrap;
}
.modal__close:hover {
  transform: rotate(360deg);
}
.modal__close:hover .modal__top-svg {
  fill: #2196f3;
}
.modal__top-svg {
  width: 18px;
  height: 18px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: fill;
}
.modal__span {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}
.modal__checkbox {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(1) rotate(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__item {
  width: 150px;
}
.menu__text {
  color: #212121;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.8px;
}
.menu__text:hover {
  color: #2196F3;
}
.menu__telephone {
  margin-top: 302px;
  color: #2196F3;
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.68px;
}
.menu__info {
  margin-top: 32px;
  margin-bottom: 64px;
  color: #757575;
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
.menu__society {
  color: #2196F3;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.36px;
}
.menu__gap {
  width: 1px;
  height: 22px;
  background: rgba(33, 33, 33, 0.2);
}
.menu__society-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.menu__svg {
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=main.css.map */