@mixin flexbox(
  $align-vertical: center,
  $align-gorizontal: center,
  $gapper: 0px,
  $wrapper: nowrap
) {
  display: flex;
  align-items: $align-vertical;
  justify-content: $align-gorizontal;
  gap: $gapper;
  flex-wrap: $wrapper;
}
