$black-color: #000;
$blue-color: #2196f3;
$bg-color: #2f303a;
$kiddo-ultra-white: #fff;
$subtext-color: #757575;
$text-color: #212121;
$background-command: #f5f4fa;
$footer-color: rgba(255, 255, 255, 0.6);
