.menu {
  display: block;
  height: 686px;
  &__list {
    display: flex;

    flex-direction: column;
    gap: 32px;
  }

  &__item {
    width: 150px;
  }

  &__text {
    color: #212121;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
  }
  
  &__text:hover{
    color: #2196F3;
  }

  &__telephone{
    margin-top: 200px;
    color: #2196F3;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.68px;
  }

  &__info{
    margin-top: 32px;
    margin-bottom: 64px;
    color: #757575;
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;

  }

  &__society{
    color: #2196F3;

font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.36px;
  }

  &__gap{
    width: 1px;
height: 22px;
background: rgba(33, 33, 33, 0.20);
  }

  &__society-container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__svg{
    width: 40px;
height: 40px;
  }
}
