.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1s ease, visibility 1s ease;
  @include flexbox();
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  // padding-left: 40px;
  // padding-right: 40px;
  max-width: 410px;
  border-radius: 4px;
  background: #fff;
  padding-bottom: 40px;
  padding-top: 8px;
  // padding-right: 8px;
  // padding-left: 41px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
  @media screen and (min-width:1200px){
    // min-width: 450px;

  }
  @media screen and (min-width:1200px){
 
  min-width: 528px;
  height: 581px;
  }

  &__item {
    width: 100%;
  }

  &__title {
    margin-bottom: 2px;
    max-width: 310px;
    height: 60px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    @media screen and (min-width:1200px){
      min-width: 448px;
    }
  }

  &__text {
    margin-bottom: 4px;
    margin-top: 10px;
  }

  &__list {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 2px;
    height: 342px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }



  &__label {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 355px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill;
    @include flexbox($align-gorizontal:flex-start);
    @media screen and (min-width:1200px){
      width: 448px;
    
    @include flexbox($align-gorizontal:flex-start);
    }
  }

  &__label:hover {
    border: 1px solid #2196f3;
  }

  &__label:hover &__svg {
    fill: #2196f3;
  }

  &__input {
    max-width: 394px;
    outline: none;
    border: none;
  }

  &__label-big {
    display: flex;
    max-width: 355px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px 82px 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
    @media screen and (min-width:1200px){
      width: 448px;
    }
  }

  &__label-big:hover {
    
    border: 1px solid #2196f3;
  }

  &__text {
    width: 40px;
    height: 14px;
  }

  &__svg {
    width: 18px;
    height: 18px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__input-big {
    outline: none;
    border: none;
    color: rgba(117, 117, 117, 0.5);
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    max-width: 400px;
  }

  &__button {
    border-radius: 4px;
    background: $blue-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $kiddo-ultra-white;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
  }

  &__box {
    margin-top: 20px;
    margin-bottom: 30px;
    min-width: 370px;
    
    @include flexbox($gapper: 7px);
  }

  &__close {
    background-color: transparent;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: auto;
    margin-right: 8px;
    padding: 6px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    @include flexbox();
  }

  &__close:hover {
    transform: rotate(360deg);
  }
  &__close:hover &__top-svg {
    fill: $blue-color;
  }

  &__top-svg {
    width: 18px;
    height: 18px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__span {
    color: #2196f3;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }

  &__checkbox {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1) rotate(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
