.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  backdrop-filter: 1px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1s ease, visibility 1s ease;
}

.modal {
  text-align: center;
  width: 528px;
  height: 581px;
  border-radius: 4px;
  background: #fff;
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 41px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  transition: transform 1s ease;

  &__title {
    width: 448px;
    color: #212121;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  &__text {
    margin-bottom: 4px;
    margin-top: 10px;
  }

  &__list {
    margin-top: 2px;
  }

  &__label {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 12px;
    padding-right: 12px;
    width: 448px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    display: flex;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, fill;
  }

  &__label:hover {
    border: 1px solid #2196f3;
  }

  &__label:hover &__svg {
    fill: #2196f3;
  }

  &__input {
    width: 394px;
    outline: none;
    border: none;
  }

  &__label-big {
    display: block;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding: 12px 16px 82px 16px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
  }

  &__label-big:hover {
    display: block;
    width: 448px;
    height: 120px;
    border-radius: 4px;
    border: 1px solid #2196f3;
    padding: 12px 16px 82px 16px;
  }

  &__text {
    width: 40px;
    height: 14px;
  }

  &__svg {
    width: 18px;
    height: 18px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__input-big {
    outline: none;
    border: none;
    color: rgba(117, 117, 117, 0.5);
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    width: 400px;
  }

  &__button {
    border-radius: 4px;
    background: $blue-color;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: $kiddo-ultra-white;
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border: none;
  }

  &__box {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    gap: 7px;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-radius: 50%;
    border-color: rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin-left: auto;
    padding: 6px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
  }

  &__close:hover {
    transform: rotate(360deg);
  }
  &__close:hover &__top-svg {
    fill: $blue-color;
  }

  &__top-svg {
    width: 18px;
    height: 18px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__span {
    color: #2196f3;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
  }

  &__checkbox {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.backdrop.is-hidden .modal {
  transform: scale(1) rotate(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
