h1,
h2,
h3,
p,
a {
  margin: 0;
}

li,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
