.comand {
  margin-left: auto;
  margin-right: auto;
  background-color: $background-command;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width:1200px){
    padding-top: 94px;
  padding-bottom: 94px;
  }
  

  &__title {
    color: $text-color;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__img {
    width: 450px;
    @media screen and (min-width: 768px) {
      width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__text {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.48px;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__subtext {
    color: $subtext-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.48px;
  }

  &__list {
    flex-direction: column;
    @include flexbox($gapper: 30px);
    @media screen and (min-width:768px){
      @include flexbox($gapper: 30px, $wrapper:wrap);
      flex-direction: unset;
    }
    @media screen and (min-width: 1200px) {
      height: 428px;
      flex-direction: row;
      @include flexbox($gapper: 30px);
    }
  }

  &__item {
    background-color: $kiddo-ultra-white;
    // height: 622px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      @media screen and (min-width:768px){
        // height: 536px;
      }
    @media screen and (min-width: 1200px) {
      // height: 428px;
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
  }

  &__svg-item:hover &__svg {
    fill: #fff;
  }

  &__svg-item:hover {
    background-color: #2196f3;
    border-radius: 50%;
  }

  &__svg-link {
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    transition-duration: 250ms, 5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, fill;
    @include flexbox();
  }

  &__svg-link:focus {
    outline: none;
    background-color: #2196f3;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    fill: #fff;
  }

  &__svg-link:focus &__svg {
    fill: #fff;
  }

  &__svg-item {
    width: 44px;
    height: 44px;
    text-align: center;

    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color, border-radius;
  }
  &__svg-list {
    margin-top: 16px;
    margin-left: 32px;
    margin-right: 32px;
    margin-bottom: 30px;
    @include flexbox($gapper: 10px);
  }
}
