.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__svg {
    width: 106px;
    height: 60px;
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, transform;
  }

  &__item {
    width: 210px;
    height: 92px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border, transform;
    @media screen and (min-width: 768px) {
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__item:hover {
    border: 1px solid #2196f3;
    transform: rotate(360deg);
  }

  &__item:hover &__svg {
    fill: #2196f3;
    transform: rotate(360deg);
  }

  &__svg-link {
    width: 170px;
    height: 92px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg-link:focus {
    outline: none;
    border: 1px solid #2196f3;
    width: 170px;
    height: 92px;
  }

  &__svg-link:focus &__svg {
    fill: #2196f3;
  }

  &__list {
    @include flexbox($gapper: 30px, $wrapper: wrap);
    @media screen and (min-width: 1200px) {
      @include flexbox($gapper: 30px);
    }
  }

  &__item {
    width: 170px;
    height: 92px;
    border-radius: 4px;
    border: 1px solid #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: border;
    @include flexbox();
  }

  &__title {
    text-align: center;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 30px;
    @media screen and (min-width:1200px){
      font-size: 36px;
      margin-bottom: 50px;
    }
  }
}
