.quality {
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__text {
    color: $text-color;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      text-align: start;
    }
  }

  &__list > :first-child::before {
    content: "";
    display: block;
    background-image: url("../images/antenna.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #f5f4fa;
    height: 120px;
    }

  &__list > :nth-child(2):before {
    content: "";
    display: block;
    background-image: url("../images/clock.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #f5f4fa;
    height: 120px;
  }
  &__list > :nth-child(3):before {
    content: "";
    display: block;
    background-image: url("../images/diagram.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #f5f4fa;
    height: 120px;
  }
  &__list > :last-child::before {
    content: "";
    display: block;
    background-image: url("../images/astronaut.webp");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    background-color: #f5f4fa;
    height: 120px;
  }

  &__list {
    @include flexbox($gapper: 30px);
    flex-direction: column;

    @media screen and (min-width: 768px) {
      // @include flexbox($gapper: 30px);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {
      @include flexbox($gapper: 30px);
    }
  }

  &__item {
    color: #757575;
    max-width: 450px;
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__subtext {
    max-width: 450px;
  }
}
