:root {
  --black-color: #000;
  --blue-color: #2196f3;
  --bg-color: #2f303a;
  --kiddo-ultra-white: #fff;
  --subtext-color: #757575;
  --text-color: #212121;
  --background-command: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

#bigbox {
  background-color: var(--kiddo-ultra-white);
  font-family: Roboto;
}

.top {
  background-color: var(--kiddo-ultra-white);
  padding-top: 24px;
  padding-bottom: 25px;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.top-title {
  color: var(--blue-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.top-span {
  color: var(--black-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.top-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
}

.top-navigation {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 344px;
  margin-left: 93px;
}



.top-link:hover {
  color: var(--blue-color);
}

.top-telephone {
  color: var(--subtext-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.top-info {
color: var(--subtext-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.top-list {
  display: flex;
  align-items: center;
  gap: 50px;
}

.hero{
  background-color: var(--bg-color);
  padding-top: 200px ;
  padding-bottom: 200px ;
}

.hero-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 flex-direction: column;
}

.hero-title {
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
height: 120px;

}

.hero-button {
  background-color: var(--blue-color);
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-top: 40px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
}

.gigabox {
  background-color: var(--kiddo-ultra-white);
}

.quality {
  padding-top: 94px ;
  padding-bottom: 94px ;
}

.quality-text {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1,1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.quality-subtext {
  color: var(--subtext-color);
font-size: 14px;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
}

.quality-list {
  display: flex;

}

.doing {
  padding-top: 0px;
  padding-bottom: 94px;
}

.doing-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  gap: 30px;
}





.comand {
  background-color: var(--background-command);
  padding-top: 94px ;
  padding-bottom: 94px ;
}

.comand-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.comand-img {
  width: 270px;
  height: 260px;
}

.comand-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.comand-subtext {
  color: var(--subtext-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-bottom: 30px;
}

.comand-list {
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.comand-item {
  background-color: var(--kiddo-ultra-white);
}


.footer{
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-title {
  color: var(--blue-color);
  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.footer-span {
  color: var(--kiddo-ultra-white);
  font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}


.footer-address {
  color: var(--kiddo-ultra-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 8px;

}

.footer-mailto {
  color: var(--footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 8px;
}

.footer-telephone {
  color: var(--footer-color);

  font-size: 14px;

  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.42px;
}

.portfolio {
  background-color: var(--kiddo-ultra-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  color: var(--text-color);
  background-color: var(--background-command);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
}

.portfolio-button:hover {
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  background-color: var(--blue-color);
  border-radius: 4px;
}

.portfolio-list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.portfolio-item2 {
  border: 1px solid #EEE;
  background: #FFF;
  width: calc((100% - (2 * 30px)) / 3);
}

.portfolio-img {
  width: 370px;
  height: 294px;
}

.portfolio-text {
  color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 20px;
padding-left: 24px;
padding-right: 24px;

}

.portfolio-subtext {
  color: var(--subtext-color);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
 padding-bottom: 20px;
 padding-left: 24px;
 padding-right: 24px;
}



/*
 :root {
  --black-color: #000;
  --blue-color: #2196f3;
  --bg-color: #2f303a;
  --kiddo-ultra-white: #fff;
  --subtext-color: #757575;
  --text-color: #212121;
  --background-command: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.60);
} 
*/
