:root {
  --black-color: #000;
  --blue-color: #2196f3;
  --bg-color: #2f303a;
  --kiddo-ultra-white: #fff;
  --subtext-color: #757575;
  --text-color: #212121;
  --background-command: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

}

#bigbox {
  background-color: var(--kiddo-ultra-white);
  font-family: Roboto;
}

.top {
  background-color: var(--kiddo-ultra-white);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.top-container {
  display: flex;
  flex-direction: row;
}

.top-title {
  color: var(--blue-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.top-span {
  color: var(--black-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.email{
  width: 16px;
  height: 12px;
display: inline;
margin-right: 10px;
}

.phone{
  width: 10px;
  height: 16px;
display: inline;
margin-right: 10px;
}

.top-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
}

.top-link:focus {
  color: var(--blue-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.28px;
}

.top-navigation {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-right: 318px;
  margin-left: 93px;
}

.top-link:hover {
  color: var(--blue-color);
}

.top-telephone {
  color: var(--subtext-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;

}

.top-telephone:focus {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  }


.top-telephone:hover {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  }


.top-info {
color: var(--subtext-color);
font-size: 14px;
font-weight: 500;
line-height: normal;
letter-spacing: 0.28px;
}

.top-info:focus {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  }


.top-info:hover {
  color: #2196F3;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  }

.top-list {
  display: flex;
  align-items: center;
  gap: 30px;
} 

.top-item {
  width: 170px;
  display: flex;
  align-items: center;
}

.top-item:hover .email {
  fill: #2196F3;
 
}

.top-item:hover .phone {
  fill: #2196F3;
}

.hero{
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-color);
  padding-top: 200px ;
  padding-bottom: 200px ;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)  ), url("../images/hero-background.webp");
  
}

.hero-container {
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 flex-direction: column;
}

.hero-title {
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
height: 120px;

}

.hero-button {
  background-color: var(--blue-color);
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-top: 40px;
  width: 216px;
  height: 50px;
  border-radius: 4px;
  border: none;
}

.gigabox {
  background-color: var(--kiddo-ultra-white);
}

.quality {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px ;
  padding-bottom: 94px ;
}

.quality-text{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1,1;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  padding-top: 30px;
  margin-bottom: 10px;
}




.quality-list>:first-child::before{
  content: "";     
  display: inline-block;
  background-image: url("../images/antenna.webp")  ;
  background-position: 50% 50% ;
   height: 70px;
   width: 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
height: 120px;
}

.quality-list>:nth-child(2):before {

 content: "";     
  display: inline-block;
  background-image: url("../images/clock.webp")  ;
  background-position: 50% 50% ;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
height: 120px;

}
.quality-list>:nth-child(3):before {

 content: "";     
  display: inline-block;
  background-image: url("../images/diagram.webp")  ;
  background-position: 50% 50% ;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
height: 120px;
}
.quality-list>:last-child::before {

 content: "";     
  display: inline-block;
  background-image: url("../images/astronaut.webp")  ;
  background-position: 50% 50% ;
  width: 100%;
  height: 70px;
  background-repeat: no-repeat;
  border-radius: 4px;
  background-color: #F5F4FA;
  width: 270px;
height: 120px;
}

.quality-list {
  display: flex;
  gap: 30px;
}

.quality-item {
  color: #757575;
}

.doing {
  padding-top: 0px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.doing-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.doing-list {
  display: flex;
  gap: 30px;
}

.doing-item {
  position: relative;
}

.doing-button {
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.80);
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: none;
  text-transform: uppercase;
}


.doing-text{
  color: #FFF;

text-align: center;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
width: 190px;
height: 16px;
}





.comand {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-command);
  padding-top: 94px ;
  padding-bottom: 94px ;
}

.comand-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.comand-img {
  width: 270px;
  height: 260px;
}

.comand-text {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.comand-subtext {
  color: var(--subtext-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.48px;
 
}

.comand-list {
  height: 428px;
  display: flex;
  gap: 30px;
  flex-direction: row;
}

.comand-item {
  background-color: var(--kiddo-ultra-white);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

}

.comand-svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  
}



.comand-svg-item:hover .comand-svg{
  fill: #FFF; 
}

.comand-svg-item:hover{
  background-color: #2196f3;
  border-radius: 50%;
}

.comand-svg-link{
  display: flex;
  
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;

  
}

.comand-svg-link:focus {
 outline: none;
 background-color: #2196F3;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
 fill: #FFF;
}

.comand-svg-link:focus .comand-svg{
  
  fill: #FFF;
 }

.comand-svg-item {
  
  width: 44px;
  height: 44px;
  text-align: center;

  border-radius: 50%;
  
}
.comand-svg-list {
  display: flex;
  gap: 10px;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.customers-svg {
  width: 106px;
  height: 60px;
  fill: grey;
  
}
.customers-item:hover {
  border: 1px solid #2196F3;
}



.customers-item:hover .customers-svg{
 fill: #2196F3;
}

.customers-svg-link{
  width: 170px;
  height: 92px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  
}

.customers-svg-link:focus  {
  outline: none;
  border: 1px solid #2196F3;
  width: 170px;
  height: 92px;
}

.customers-svg-link:focus .customers-svg {
  fill: #2196F3;

  
}

.customers-list {
  display: flex;
  gap: 30px;
  padding-bottom: 94px;
}

.customers-item {
  display: flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
}


.customers-title {
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  padding-top: 94px;
  margin-bottom: 50px;
}

.footer{
  background-color: var(--bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-tel-mail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer-title {
  color: var(--blue-color);
  font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}

.footer-span {
  color: var(--kiddo-ultra-white);
  font-family: Raleway;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.78px;
}


.footer-address {
  color: var(--kiddo-ultra-white);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-top: 20px;
  margin-bottom: 8px;

}

.footer-mailto {
  color: var(--footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-bottom: 8px;
}

.footer-telephone {
  color: var(--footer-color);

  font-size: 14px;

  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.42px;
}

.footer-svg-item:hover .footer-svg{
  fill: #FFF; 
}

.footer-svg-list {
  display: flex;
  gap: 10px;

  margin-top: 20px;
}

.footer-svg {
  width: 20px;
  height: 20px;
  fill: #fff;
  
  
}

.footer-svg-item:hover{
  background-color: #2196f3;
  border-radius: 50%;
}

.footer-svg-item {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.10);
}

.footer-container {
  display: flex;
  gap: 70px;
}

.footer-subtext{
  color: #FFF;

font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-right: 90px;
}




.portfolio {
  background-color: var(--kiddo-ultra-white);
  padding-top: 94px;
  padding-bottom: 94px;
  border-top: 1px solid #ececec;
}

.portfolio-list {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  color: var(--text-color);
  background-color: var(--background-command);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  border: none;
  border-radius: 4px;

padding-top: 6px;
padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
}

.portfolio-button:hover {
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  background-color: var(--blue-color);
  border-radius: 4px;
  border-color: #F5F4FA;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.portfolio-button:focus {
  color: var(--kiddo-ultra-white);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.48px;
  background-color: var(--blue-color);
  border-radius: 4px;
  border-color: #F5F4FA;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
}



.portfolio-list2 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  
}

.portfolio-item2 {
  border: 1px solid #EEE;
  background: #FFF;
  width: calc((100% - (2 * 30px)) / 3);

}

.portfolio-item2:hover {

  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);

}

.portfolio-img {
  width: 370px;
  height: 294px;
}

.portfolio-text {
  color: var(--text-color);
font-size: 18px;
font-weight: 700;
line-height: 36px; /* 200% */
letter-spacing: 1.08px;
margin-top: 20px;
padding-left: 24px;
padding-right: 24px;

}

.portfolio-subtext {
  color: var(--subtext-color);
font-size: 16px;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
 padding-bottom: 20px;
 padding-left: 24px;
 padding-right: 24px;
}



/*
 :root {
  --black-color: #000;
  --blue-color: #2196f3;
  --bg-color: #2f303a;
  --kiddo-ultra-white: #fff;
  --subtext-color: #757575;
  --text-color: #212121;
  --background-command: #f5f4fa;
  --footer-color: rgba(255, 255, 255, 0.60);
} 
*/
